# Build Final Exam Data

In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.insert(0, '../cmds')
from ratecurves import *
from ficcvol import *
from binomial import *

from datetime import datetime
import warnings

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,6)
plt.rcParams['font.size'] = 15
plt.rcParams['legend.fontsize'] = 13

from matplotlib.ticker import (MultipleLocator,
                               FormatStrFormatter,
                               AutoMinorLocator)

***

In [3]:
DATE = '2023-05-05'
FILEIN = f'../build_data/cap_curves_{DATE}.xlsx'

### Export Curves to Excel

In [4]:
SAVEDATA = False
FILEOUT = f'exam_data_{DATE}'

# Market Data

### Load Curves

In [5]:
Tdata = 3.25
curves = pd.read_excel(FILEIN, sheet_name=f'rate curves {DATE}').set_index('tenor')
curves

       swap rates  discounts  forwards  flat vols  fwd vols
tenor
0.25     0.050719   0.987479       NaN        NaN       NaN
0.50     0.050123   0.975402  0.049527   0.316162  0.316162
0.75     0.048560   0.964447  0.045435   0.347778  0.372145
1.00     0.046639   0.954690  0.040881   0.379394  0.428165
1.25     0.044145   0.946600  0.034187   0.461469  0.668067
1.50     0.041930   0.939349  0.030874   0.520051  0.698306
1.75     0.040224   0.932356  0.030003   0.558612  0.688861
2.00     0.038818   0.925648  0.028986   0.580620  0.659912
2.25     0.037466   0.919518  0.026665   0.589547  0.612262
2.50     0.036468   0.913240  0.027499   0.588862  0.563661
2.75     0.035670   0.906959  0.027700   0.582035  0.519747
3.00     0.035026   0.900667  0.027946   0.572538  0.490527
3.25     0.034423   0.894584  0.027198   0.563103  0.475147
3.50     0.033893   0.888583  0.027013   0.553514  0.459513
3.75     0.033492   0.882433  0.027881   0.542818  0.436853
4.00     0.033165   0.876242  0.028261   0.530062  0.399064
4.25     0.032851   0.870186  0.027835   0.514761  0.347591
4.50     0.032583   0.864131  0.028032   0.498297  0.309934
4.75     0.032400   0.857888  0.029108   0.482522  0.296876
5.00     0.032272   0.851537  0.029832   0.469288  0.306231
5.25     0.032158   0.845224  0.029878   0.459888  0.336103
5.50     0.032052   0.838966  0.029833   0.453392  0.361974
5.75     0.031957   0.832747  0.029874   0.448312  0.372543
6.00     0.031876   0.826545  0.030012   0.443160  0.362621
6.25     0.031811   0.820345  0.030235   0.436805  0.333663
6.50     0.031759   0.814145  0.030459   0.429541  0.307192
6.75     0.031718   0.807954  0.030652   0.422017  0.290260
7.00     0.031685   0.801779  0.030804   0.414882  0.284665
7.25     0.031659   0.795629  0.030920   0.408618  0.289174
7.50     0.031639   0.789499  0.031057   0.403026  0.291865
7.75     0.031626   0.783383  0.031232   0.397736  0.288559
8.00     0.031620   0.777272  0.031449   0.392382  0.278083
8.25     0.031622   0.771160  0.031699   0.386697  0.261628
8.50     0.031632   0.765052  0.031939   0.380826  0.247727
8.75     0.031647   0.758951  0.032154   0.375019  0.239158
9.00     0.031666   0.752864  0.032339   0.369523  0.236658
9.25     0.031688   0.746799  0.032489   0.364587  0.241041
9.50     0.031712   0.740762  0.032599   0.360458  0.253228
9.75     0.031736   0.734762  0.032663   0.357385  0.274305
10.00    0.031760   0.728808  0.032676   0.355617  0.305634

In [6]:
curves = curves.loc[:Tdata,['discounts','fwd vols']]
curves

       discounts  fwd vols
tenor
0.25    0.987479       NaN
0.50    0.975402  0.316162
0.75    0.964447  0.372145
1.00    0.954690  0.428165
1.25    0.946600  0.668067
1.50    0.939349  0.698306
1.75    0.932356  0.688861
2.00    0.925648  0.659912
2.25    0.919518  0.612262
2.50    0.913240  0.563661
2.75    0.906959  0.519747
3.00    0.900667  0.490527
3.25    0.894584  0.475147

### BDT Tree

In [7]:
quotes = curves['discounts']*100

sigmas = curves['fwd vols']
sigmas.iloc[0] = sigmas.iloc[1]

theta, ratetree = estimate_theta(sigmas,quotes)
format_bintree(theta.to_frame().T, style='{:.2%}')

format_bintree(ratetree,style='{:.2%}')

## CTD Table

In [8]:
tv = ratetree.copy()[1]
mask = ~tv.isna()

NOMDISC = .06
cpns = np.array([.01,.01,.045,.045,.045])
out = pd.DataFrame(100*price_bond(tv[mask], 2, cpns,face=1, accr_frac = 0) / price_bond(NOMDISC, 2, cpns,face=1, accr_frac = 0)).rename(columns={1:'CTD price at expry'}).round(2)

out

       CTD price at expry
state
0                   99.05
1                  102.47
2                  105.31
3                  107.62
4                  109.79

### Save Data

In [9]:
if SAVEDATA:
    outfile = f'../data/{FILEOUT}.xlsx'
    with pd.ExcelWriter(outfile) as writer:  
        curves.to_excel(writer, sheet_name= f'rate curves', index=True)
        ratetree.to_excel(writer, sheet_name= f'rate tree', index=True)